.header{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.header_left{
    width: 20%;
    cursor: pointer;
}
.header_left>img{
    width: 100px;
}
.header_right{
    flex: 1;
}
.headerLink{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: auto;
}
.header_right_box{
    width: 100%;
    display: flex;
}