.create{
    width: 100%;
    // border: 2px solid red;
    display: flex;
    // height: 100%;
    flex: 1;
    flex-wrap: wrap;
}

.create_left{
    border: 1px solid green;
    width: 60%;
    overflow: scroll;
}
.create_right{
    width: 40%;
    display: flex;
    padding: 20px;
}

.form{
    padding: 10px;
}

.formControl{
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    margin: 10px 0;
    // border-radius: 70px;
    // box-shadow: 0 0 4px 4px rgba(0,0,0,0.4);
    background-color: transparent;
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
    margin: 10px;
}